.bh_icon
{
    overflow: hidden;
}

.bh_icon
{
    background: url(../r.img/icons.png) no-repeat;
}

.bh_icon-back-png{
    width: 24px;
    height: 24px;
    background-position: -140px -70px;
}

.bh_icon-back_disabled-png{
    width: 24px;
    height: 24px;
    background-position: -142px -35px;
}

.bh_icon-close-png{
    width: 14px;
    height: 14px;
    background-position: -140px -105px;
}

.bh_icon-flag-png{
    width: 24px;
    height: 24px;
    background-position: -142px -0px;
}

.bh_icon-flag_disabled-png span{
    width: 24px;
    height: 24px;
    background-position: -105px -105px;
}

.bh_icon-forward-png{
    width: 24px;
    height: 24px;
    background-position: -70px -105px;
}

.bh_icon-forward_disabled-png{
    width: 24px;
    height: 24px;
    background-position: -35px -105px;
}

.bh_icon-gear-png{
    width: 26px;
    height: 26px;
    background-position: -0px -0px;
}

.bh_icon-home-png{
    width: 24px;
    height: 24px;
    background-position: -0px -105px;
}

.bh_icon-maximize-png{
    width: 8px;
    height: 15px;
    background-position: -159px -130px;
}

.bh_icon-minimize-png{
    width: 8px;
    height: 15px;
    background-position: -140px -130px;
}

.bh_icon-refresh-png{
    width: 24px;
    height: 26px;
    background-position: -72px -0px;
}

.bh_icon-refresh_disabled-png{
    width: 24px;
    height: 26px;
    background-position: -37px -0px;
}

.bh_icon-star-png{
    width: 24px;
    height: 24px;
    background-position: -105px -70px;
}

.bh_icon-star_disabled-png{
    width: 24px;
    height: 24px;
    background-position: -70px -70px;
}

.bh_icon-zoom_drag-png{
    width: 14px;
    height: 4px;
    background-position: -0px -156px;
}

.bh_icon-zoom_in-png{
    width: 24px;
    height: 24px;
    background-position: -35px -70px;
}

.bh_icon-zoom_in_disabled-png{
    width: 24px;
    height: 24px;
    background-position: -0px -70px;
}

.bh_icon-zoom_out-png{
    width: 24px;
    height: 24px;
    background-position: -107px -35px;
}

.bh_icon-zoom_out_disabled-png{
    width: 24px;
    height: 24px;
    background-position: -107px -0px;
}

.bh_icon-maximize-png{
    position:relative;
    left:2px;
}


.bh_icon-zoom_drag-png{
	position:relative;
	left:5px;
}

.bh_icon-close-png{
	position:relative;
	left:6px;
}

.bh_icon-refresh-png, .bh_icon-refresh_disabled-png{
	position:relative;
	left:1px;
}