

.sm_signinorup_field
{
	border: solid 1px #7f7f7f;
	z-index:10;
	padding:0px;
	width:302px;
	height:22px;
	
	padding-left:4px;
	padding-right:40%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    
	-border-radius:4px;
 	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius:4px;
    
    margin-bottom:3px;
}

.sm_signinorup_field:FOCUS
{
	outline-width: 0px;
	
	-moz-box-shadow: 0px 0px 10px #ffcc00;
	-webkit-box-shadow: 0px 0px 10px #ffcc00;
	box-shadow: 0px 0px 10px #ffcc00;
}

.sm_captcha_container > img
{
	position:relative;
	top:1px;
	opacity:.5;
}

.sm_captcha_container
{
	border: solid 1px #8B8B8B;
	/*border-top: none;*/
	width: 300px;
	height: 60px;
	background: white;
	overflow:hidden;
	border-radius:5px;
	margin-top:15px;
	
	cursor: pointer;
}

.sm_signinorup_error
{
	font-weight: normal;
	position:relative;
	top:18px;
	left:-4px;
	pointer-events:none; /*DRK > not in IE10, but sufficiently edge case UX problems with not having it I think.*/
	white-space:nowrap;
	margin-right:4px;
}

.sm_signuporin_panel
{
	overflow:auto;
}

.sm_signuporin_sub_panel_wrapper
{
	width:328px;
}

.sm_signin_button, .sm_signup_button
{
	margin-top:7px;
}

.sm_signin_button
{
	background: #3399cc;
    background: -webkit-linear-gradient(top, #ddddff, #3399cc);
    background: -moz-linear-gradient(top, #ddddff, #3399cc);
    background: -ms-linear-gradient(top, #ddddff, #3399cc);
    background: -o-linear-gradient(top, #ddddff, #3399cc);
    
    color: #ffffff;
    text-shadow: 0px -1px #3399cc;
}

.sm_signin_button:hover
{
    background: -webkit-linear-gradient(top, #eeeeff, #3399cc);
    background: -moz-linear-gradient(top, #eeeeff, #3399cc);
    background: -ms-linear-gradient(top, #eeeeff, #3399cc);
    background: -o-linear-gradient(top, #eeeeff, #3399cc);
    
    color: #ffffff;
	text-shadow: 0px -1px #3399cc;
	
	border: solid 1px #7f7f7f;
}

.sm_signin_button:active
{
	background: #0066cc;
    background: -webkit-linear-gradient(top, #1188bb, #3399cc);
    background: -moz-linear-gradient(top, #1188bb, #3399cc);
    background: -ms-linear-gradient(top, #1188bb, #3399cc);
    background: -o-linear-gradient(top, #1188bb, #3399cc);
    
    color: #ffffff;
    text-shadow: 0px -1px #3399cc;
}

.sm_signup_button
{
	background: #f0f0f0;
    background: -webkit-linear-gradient(top, #ffff66, #ffcc00);
    background: -moz-linear-gradient(top, #ffff66, #ffcc00);
    background: -ms-linear-gradient(top, #ffff66, #ffcc00);
    background: -o-linear-gradient(top, #ffff66, #ffcc00);
}

.sm_signup_button:hover
{
    background: -webkit-linear-gradient(top, #ffffff, #ffcc00);
    background: -moz-linear-gradient(top, #ffffff, #ffcc00);
    background: -ms-linear-gradient(top, #ffffff, #ffcc00);
    background: -o-linear-gradient(top, #ffffff, #ffcc00);
}

.sm_signup_button:active
{
	background: -webkit-linear-gradient(top, #ffaa00, #ffcc00);
    background: -moz-linear-gradient(top, #ffaa00, #ffcc00);
    background: -ms-linear-gradient(top, #ffaa00, #ffcc00);
    background: -o-linear-gradient(top, #ffaa00, #ffcc00);
}

.sm_signuporin_sub_panel
{
	display:table;
	border: 1px solid #7f7f7f;
	padding: 12px;
	padding-top:2px;
	padding-bottom:10px;
	
	border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    
    width:300px;
    
    background: #F0F0F0;
}

.sm_signinorup_checkbox
{
	
}