.sm_cell_glass
{
	position:absolute;
	width:100%;
	height:100%;
	
	background-color: rgba(0,0, 0,0.0);
	top:0px;
	left:0px;
}

.sm_cell_container_inner, .sm_splash_glass, .sm_cell_cropper
{
	position: absolute;
	
	cursor:pointer;
	background-color: #aaaaaa;
}

.sm_cell_container
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sm_cell_scroll_container
{
	position:absolute;
	width:100%;
	height:100%;
}

.sm_cell_container_inner, .sm_splash_glass, .sm_cell_scroll_container
{
	top:0px;
	left:0px;
}

.sm_splash_glass
{
	background-color: rgba(0,0, 0,0.0);
}

.visual_cell
{
	-ms-transform-origin:0% 0%;
	-webkit-transform-origin:0% 0%;
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
}

.visual_cell_content
{
	background:#ffffff;
}

.sm_cell_hud
{
	position:absolute;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    
   /* margin-top: -18px;
    margin-left: -1px;*/
    
	/*border: solid 1px #C4C4C4;
	background: #F0F0F0;*/
	
	/*border: solid 1px #FFFFFF;*/
	background: #CCCCCC;
    
    width: 503px;
    height: 44px;
    
   -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -o-border-top-left-radius:8px;
    
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
     -o-border-top-right-radius:8px;
    
    cursor:default;
}

.visual_cell_focused
{
	cursor: auto;
}

.cell_focuser
{
	position: absolute;
	width:100%;
	height:100%;
	-webkit-transform:translate3d(0px, 0px, 0px); /*workaround for z-fighting bug on rightmost pixel column*/
}

.cell_highlight
{
	-ms-transform-origin-x:0%;
	-webkit-transform-origin-x:0%;
	-moz-transform-origin-x:0%;
	-o-transform-origin-x:0%;
	-ms-transform-origin-y:0%;
	-webkit-transform-origin-y:0%;
	-moz-transform-origin-y:0%;
	-o-transform-origin-y:0%;
	
	position: absolute;
}

.sm_scrollbar_query
{
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -99999px;
}