.sm_tool_tip
{
	width:auto;
	
	cursor: default;
	
	-border-radius:3px;
 	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius:3px;
    
    font: 12px Helvetica, Arial, sans-serif;
    
    padding:4px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    
	position:absolute;
	background: #F9EDBE;
	border: 1px solid #ADAA87;
	
	-moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=45, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=45, Color='#000000');
}